<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="allAlbums.css">
    <title>All Albums</title>
</head>
<body>
    <%- include("./partials/navbar") %>

    <% albums.forEach((album) => { %>

        <div class="album-card">
            <img src="<%=album.Img%>" alt="Album cover">
            <div class="album-info">
              <h3>
                <a href="/album/<%=album.Name%>">
                    <%=album.Name%>
                </a>
              </h3>
              <p class="artist-tag">by 
                <a href="/artist/<%=album.Artist%>">
                  <%=album.Artist%>
                </a>
              </p>
              <p>Likes: <%=album.UserLikes%></p>
            </div>
        </div>
          

        <%})%>
      
</body>
</html>