<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/allAlbums.css">
    <title>All Albums</title>
</head>
<body>
    <%- include("./partials/navbar") %>

    <% albums.forEach((album) => { %>

        <div class="album-card">
            <img class="album-cover" src="<%=album.Img%>" alt="Album cover">
            <div class="album-info">
              <h3>
                <a href="/album/<%=album._id%>">
                    <%=album.Name%>
                </a>
              </h3>
              <p class="artist-tag">by 
                <a href="/artist/<%=album.Artist%>">
                  <%=album.Artist%>
                </a>
              </p>
              <p>Likes: <%=album.UserLikes%></p>
              
              <button class="favorite-button" id="<%=album._id%>">
                ❤
              </button>
              <button class="minus-button" id="<%=album._id%>">remove</button>

            </div>
        </div>
          

        <%})%>
        
        
        <script src="/js/allAlbums.js"></script>
      
</body>
</html>