<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="allAlbums.css">

    <title>All Songs</title>
</head>
<body>
    <%- include("./partials/navbar") %>

    <% songs.forEach((song) => { %>

        <div class="album-card">
            <img src="<%=song.Img%>" alt="Album cover">
            <div class="album-info">
              <h3>
                <a href="/song/<%=song.Name%>">
                    <%=song.Name%>
                </a>
              </h3>
              <p class="artist-tag">by
                <% song.Artists.forEach((artist) => { %>
                  <a href="/artist/<%=artist%>">
                    <%=artist%>
                  </a>
                <%})%>
                
              </p>
              <p>Likes: <%=song.UserLikes%></p>
            </div>
        </div>
          

        <%})%>
    
</body>
</html>