<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/oneArtist.css">
    <title><%=artist.Name%></title>
</head>
<body>

    <%- include("./partials/navbar") %>
    <div class="artist-profile">
        <img src="<%=artist.Img%>" alt="Artist image">
        <h1><%=artist.Name%></h1>
        <p>Followers: <%=artist.Followers%></p>
        <div class="albums">
          <h2>Albums</h2>
          <% albums.forEach((album) => { %>
            <div class="album"> 
              <img src="<%=album.Img%>" alt="Album cover">
              <h3>
                <a href="/album/<%=album._id%>">
                  <%=album.Name%>
              </a>
              </h3>
            </div>
          <%})%>
        </div>
      </div>

     
      

    
</body>
</html>